<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="callbookConnectionString1" connectionString="Data Source=A6\SQLEXPRESS;Initial Catalog=callbook;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="telemarketSQLConnectionString1" connectionString="Data Source=A6\SQLEXPRESS;Initial Catalog=telemarketSQL;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ImportedLeadsConnectionString" connectionString="Data Source=A6\SQLEXPRESS;Initial Catalog=ImportedLeads;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
